<div class="container">
    <h1>Lista de productos</h1>
    <hr>
    <%= link_to new_producto_path, class: "btn btn-info" do %>
        <i class="fa fa-plus-circle"></i> Nuevo producto
      <% end %>

      <br>
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Marca</th>
                  <th>Descripción</th>
                  <th>precio</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <% @productos.each do |producto| %>
                <tr>
                    <td><%= producto.nombre %></td>
                    <td><%= producto.marca %></td>
                    <td><%= producto.descripcion %></td>
                    <td>$<%= producto.precio %></td>
                    <td><%= link_to producto_path(producto), title: "Ver producto" do %>
                          <span class="fa fa-eye"></span>
                        <% end %>
                        &nbsp;
                        <%= link_to edit_producto_path(producto), title: "Editar producto" do %>
                          <span class="fa fa-pencil"></span>
                        <% end %>
                        &nbsp; 
                        <%= link_to producto_path(producto), title: "Eliminar producto",
                          method: :delete,
                          data:{confirm: '¿Esta seguro que quiere eliminar el producto'} do%>
                          <span class="fa fa-trash"></span>
                        <%end%>
                    </td>
                </tr>
              <% end %>
          </tbody>
      </table>
      <br>
      <%= link_to controller: 'welcome' do %>
        <i class="fa fa-arrow-left"></i> Home
      <% end %>
  </div>
